<div class="card" *ngFor="let envelope of envelopes">
  <div class="card-body">
    <div class="container">
      <h5 class="card-title">{{ envelope.description }}</h5>
      <div class="row">
        <div class="col">
          <p>Budgeted Amount:</p>
        </div>
        <div class="col">
          <p>{{ envelope.amountBudgeted }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Used Amount:</p>
        </div>
        <div class="col">
          <p>{{ envelope.amountUsed }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Remaing Amount:
        </div>
        <div class="col">
          <p>{{ envelope.amountRemaining }}</p>
        </div>
      </div>
    </div>
  </div>
</div>